<td></td><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Login</title>
    <style>
    .cf{
        background-color: #00ADFF;
        padding: 15px;
      }
  
      .text{
        margin: auto;
        color: azure;
      }
  
      ul {
        list-style-type: none;
        margin-left: 30px;
        margin-top: -15px;
        padding: 0;
        overflow: hidden;
        width: 95%;
        position: relative;
        background-color: #333333;
      }
  
      li {
        float: right;
      }
  
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }
  
      li a:hover {
        text-decoration: none;
        color: whitesmoke;
        background-color: #111111;
      }

      .form{
        margin: auto;
        width: 50%;
        padding: 10px;
        background-color: #282C34;
        width: 50%;
        padding:5%;
        align-content: center;
        margin-top: 5px;
        border-radius: 15px;
        color: whitesmoke;
      }

      .form:hover{
        box-shadow: 10px 10px #00ADFF;
        transition: box-shadow .4s ease-in-out;
        /* -webkit-transition: 2s;
        -webkit-transform: rotateY(360deg); */
        
      }

    *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

    body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    }

    form {
    /* max-width: 300px; */
    margin: 20px auto;
    padding: 10px 20px;
    
    border-radius: 8px;
    }

    h1 {
    margin: 0 0 30px 0;
    text-align: center;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #384047;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    }

    input[type="radio"],
    input[type="checkbox"] {
    margin: 0 4px 8px 0;
    }

    select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
    background-color: #e8eeef;
    color: #384047;
    }

    .button {
    display:inline-block;
    padding: 10px 20px;
    color: #FFF;
    background-color: #00ADFF;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 49%;
    border: 1px solid #ffffff;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    }

    fieldset {
    margin-bottom: 30px;
    border: none;
    }

    legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    }

    label {
    display: block;
    margin-bottom: 8px;
    }

    label.light {
    font-weight: 300;
    display: inline;
    }

    .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
    }

    @media screen and (min-width: 480px) {

    form {
        max-width: 480px;
    }

    }
      
    </style>
</head>
<body>
    <div class="container-fluid cf">
        <h2 class="text">Student Registration</h2>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
      <br>
      <br>
      <div class="container form">
        <form action="/student_register" method="POST" class="form-group">
            <h1>Register</h1>
            
            <fieldset>
            <label for="center_id">Center ID</label>
               <select id="center_id" name="center_id">
                <optgroup>
                    <option value="1">Center 1</option>
                    <option value="2">Center 2</option>
                    <option value="3">Center 3</option>
                    <option value="4">Center 4</option>
                </optgroup>
            </select>
            
            <label for="center_name">Center Name</label>
               <select id="center_name" name="center_id">
                <optgroup>
                    <option value="ABC">ABC</option>
                    <option value="PQR">PQR</option>
                    <option value="MNO">MNO</option>
                    <option value="XYZ">XYZ</option>
                </optgroup>
            </select>

            <label for="student_name">Student Name:</label>
            <input class="form-control" type="text" id="student_name" name="student_name">
            
            <label for="student_id">Student ID</label>
            <input class="form-control" type="text" id="student_id" name="student_id">
            
            <label for="phone">Phone:</label>
            <input class="form-control" type="number" id="phone" name="phone">
            
            <label>Gender:</label>
            <input type="radio" id="male" value="male" name="gender"><label for="male" class="light">Male</label><br>
            <input type="radio" id="female" value="female" name="gender"><label for="female" class="light">Female</label>
            <br> <br>
            <label for="dob">Date of Birth</label>
            <input class="form-control" type="date" name="dob" id="dob">

            <label for="parents_name">Parents Name:</label>
            <input class="form-control" type="text" id="parents_name" name="parents_name">

            <label for="date_of_regd">Date of Registration</label>
            <input class="form-control" type="date" name="date_of_regd" id="date_of_regd">

            <!-- Setting current date by default -->
            <script>
               document.getElementById('date_of_regd').valueAsDate = new Date();
            </script>


        </fieldset>

        <fieldset>
            <label for="program">Program</label>
               <select id="program" name="program">
                <optgroup>
                    <option value="Prog1">Program 1</option>
                    <option value="Prog2">Program 2</option>
                    <option value="Prog3">Program 3</option>
                    <option value="Prog4">Program 4</option>
                </optgroup>
            </select>
            
            <label for="class">Class</label>
               <select id="class" name="class">
                <optgroup>
                    <option value="1">Class 1</option>
                    <option value="2">Class 2</option>
                    <option value="3">Class 3</option>
                    <option value="4">Class 4</option>
                    <option value="5">Class 5</option>
                </optgroup>
            </select>
            
            <label>Status:</label>
            <input type="radio" id="active" value="active" name="status"><label for="active" class="light">Active</label><br>
            <input type="radio" id="not_active" value="not_active" name="status"><label for="not_active" class="light">Not Active</label>
            
        </fieldset>
            <button class="btn btn-danger button" type="reset">Reset</button>
            <button class="btn btn-success button" type="submit">Register</button> 
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
</body>
</html>