<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Home</title>

  <style>
    .cf{
      background-color: #00ADFF;
      padding: 15px;
    }

    .text{
      margin: auto;
      color: azure;
    }

    ul {
      list-style-type: none;
      margin-left: 30px;
      margin-top: -15px;
      padding: 0;
      overflow: hidden;
      width: 95%;
      position: fixed;
      background-color: #333333;
    }

    li {
      float: right;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }

    li a:hover {
      text-decoration: none;
      color: whitesmoke;
      background-color: #111111;
    }
  </style>
</head>
<body>
  <div class="container-fluid cf">
    <h2 class="text">Logged In</h2>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  <br>
  <br>
  <br>
  <br>
    <marquee behavior="" direction="left">You are a authenticated user</marquee>
    
</body>
</html>